<h1>New Game</h1>
<div class="m-5">
<% @letters_sample.each do |w| %>
  <div class="shadow mx-1 p-3 border border-3 d-inline rounded-3"
    style="background: rgba(  155, 253, 150,0.7)"><%= w %></div>
<% end %>
</div>

<form action="/score" data-turbo="false" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :letters_sample, @letters_sample %>
  <input type="text" name="word">
  <input type="submit" value="Ask!" class="btn btn-primary">
</form>
<a href="/home">Back</a>
